/* .messagebigbox {
    overflow: initial;
    margin: 0 auto;
    width: 37.5rem;
    margin-top: 20px;
    background-color: #f6f6f6;
    justify-content: center;
    flex-direction: column;
}
*/
.messagebigbox {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: brown;
    margin-bottom: 20px;
}
/* 
.messagebox {
    
} */

/* .thisshowname {
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
} */
.thisshowname{
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
    
    
}
.handname {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    
}
.handimg{
    width: 30px;
    height: 30px;
    background-color: rgb(85, 37, 95);
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
}

.handname:hover {
    text-decoration: underline
}
.thisshowcontent{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.img{
    vertical-align: middle;
    text-align: center;
}
.thisshowbottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20px;
    
}
.thisshowbottom :nth-child(1) {
    text-decoration: none;
}
.MessageFilled {
    color: #000;
}

.MessageFilled:hover {
    color: rgb(89, 152, 204);
    text-decoration: underline;
}

.star:hover {
    color: rgb(231, 233, 125);
}

.share:hover {
    color: rgb(131, 204, 89);
}

.whitelike {
    color: rgb(0, 0, 0);
}

.whitelike:hover {
    color: rgb(188, 27, 27);
}

.redlike {
    color: rgb(188, 27, 27);
} 