/* .comment {
    color: rgb(207, 104, 104);
}

.bar {
    display: flex;
    flex-direction: column;
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background-color: gray;
}

.useruploading {
    display: flex;
    justify-content: center;
    align-self: center
}

.uploading {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.uptext {
    background-color: aqua;
    width: 100px;
    height: 100px;
}

.upimage {
    background-color: rgb(14, 43, 43);
    width: 100px;
    height: 100px;
} */
