.comments {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 600px;
    border-bottom: 1px solid #000000;
}

.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.handimg {
    width: 2rem;
    height: 2rem;
    background-color: rgb(85, 37, 95);
    border-radius: 50%;
    overflow: hidden;
}

.headimgs {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.deletebuttom{
}
.Reply {
    margin-left: 10px;
}